@import './Constants.scss';

.app {
  width: 100%;
  height: 100%;
  color: $light;
  background-color: $dark;

  font-family: 'Questrial', 'Quicksand', sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
}