:root {
  --light-orange: #faefe1;
  --light-pink: #eee3e7;
  --accent-orange: #eeb76f;
  --accent-pink: #c8417f;
  --accent-blue: #3051e5;
  --dark-saturated: #07073d;
  --dark-muted: #1f1f29;
}

body {
  height: 100%;
  color: var(--light-orange);
  background-color: var(--dark-muted);

  font-family: 'Questrial', 'Quicksand', sans-serif;
  line-height: 1.3;
}

h1 {
  font-family: 'Alice', 'Lora', serif;
  font-weight: 500;
  font-size: 3rem;
}

h2 {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 600;
  font-size: .875rem;
}

h3 {
  font-family: 'Alice', 'Lora', serif;
  font-weight: 500;
  font-size: 2rem;
}

button {
  padding: .5rem .75rem;
  background: none;
  border: 1px solid var(--accent-orange);
  border-radius: .25rem;

  font-family: 'Raleway', 'Quicksand', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent-orange);
}

.divider {
  width: 50vw;
  height: 0;
  border-bottom: 2px solid var(--light-orange);
  margin: 1rem;
}