@import './Constants.scss';

h1 {
  font-family: 'Alice', 'Lora', serif;
  font-weight: 500;
  font-size: 3rem;
}

h2 {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 600;
  font-size: .875rem;
}

h3 {
  font-family: 'Alice', 'Lora', serif;
  font-weight: 500;
  font-size: 2rem;
}

button {
  padding: .5rem .75rem;
  background: none;
  border: 1px solid $accent-orange;
  border-radius: .25rem;

  font-family: 'Raleway', 'Quicksand', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: $accent-orange;
}

.iconButton {
  font-family: 'Material Icons';
  border: none;
  border-radius: 100%;
  padding: .5rem;

  &:hover {
    background-color: rgba(#4B00B5, .3);
  }
}

.divider {
  width: 50vw;
  height: 0;
  border-bottom: 2px solid $light-orange;
  margin: 1rem;
}