@import './Constants.scss';

.brandColors {
  display: flex;

  div {
    width: 20px;
    height: 20px;
    margin: 0 4px;
    border: 1px solid black;

    &.lightOrange {
      background-color: $light-orange;
    }
    &.lightBlue {
      background-color: $light-blue;
    }
    &.accentOrange {
      background-color: $accent-orange;
    }
    &.accentPink {
      background-color: $accent-pink;
    }
    &.darkBlue {
      background-color: $dark-blue;
    }
    &.darkViolet {
      background-color: $dark-violet;
    }
  }
}

h1 {
  font-family: 'Alice', 'Lora', serif;
  font-weight: 500;
  font-size: 3rem;
}

h2 {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 600;
  font-size: .875rem;
}

h3 {
  max-width: 55vw;
  font-family: 'Alice', 'Lora', serif;
  font-weight: 500;
  font-size: 1.75rem;
}

button {
  cursor: pointer;
  padding: .5rem .75rem;
  background: none;
  border: none;
  border-radius: .25rem;
  font-family: 'Raleway', 'Quicksand', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: $accent-orange;
  background-color: $dark-blue;
  transition: color $short-animation-duration $standard-easing,
    background-color $short-animation-duration $standard-easing;

  &:hover {
    color: $dark-blue;
    background-color: $accent-orange;
  }
}

.iconButton {
  font-family: 'Material Icons';
  border-radius: 100%;
  padding: .5rem;
  background: none;
  transition: background-color $short-animation-duration $standard-easing;

  &:hover {
    background-color: $accent-orange;
  }
}

.divider {
  width: 50vw;
  height: 0;
  border-bottom: 2px solid $light-orange;
  margin: 1rem;
}