@import './Constants.scss';

.brandColors {
  display: flex;

  div {
    width: 20px;
    height: 20px;
    margin: 0 4px;
    border: 1px solid black;

    &.text {
      background-color: $text;
    }
    &.background {
      background-color: $background;
    }
    &.accent {
      background-color: $accent;
    }
  }
}

h1 {
  font-family: 'Alice', 'Lora', serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  margin: .5rem;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: $accent;
}

h3 {
  margin: .5rem;
  max-width: 50rem;
  font-family: 'Alice', 'Lora', serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  color: $accent-complimentary;
}

h4 {
  max-width: 50rem;
  font-style: italic;
  font-weight: 500;
  color: $text-complimentary;
}

p {
  max-width: 50rem;
}

.logo {
  $logo-svg-height: 5rem;

  width: fit-content;
  height: $logo-svg-height;
  padding: calc($logo-svg-height*.25) 0;
  margin: .5rem;

  .logoSvg {
    height: 100%;

    svg {
      height: 100%;
      fill: $accent;
    }
  }
}

button {
  box-sizing: border-box;
  height: 3rem;
  cursor: pointer;
  padding: 0 1rem;
  margin: .5rem;
  background: none;
  border: none;
  border-radius: .5rem;
  font-family: 'Raleway', 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: $background;
  background-color: $accent;
  transition: color $short-animation-duration $standard-easing,
    background-color $short-animation-duration $standard-easing;

  &:hover, &:focus {
    outline: none;
    color: $background-complimentary;
    background-color: $accent-complimentary;
  }
}

.iconButton {
  font-family: 'Material Icons Outlined';
  border-radius: 100%;
  padding: .75rem;
  color: $accent;
  background: none;
}

.textField {
  box-sizing: border-box;
  width: 20rem;
  height: 3rem;
  margin: .5rem;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 600;
  color: $accent;
  padding: .75rem;
  border: .125rem solid $accent;
  background-color: $background;
  outline: none;
  transition: border-color $short-animation-duration $standard-easing;
  &:focus-visible {
    border-color: $accent-complimentary;
    background-color: $background-complimentary;
  }
  &::placeholder {
    color: rgba($accent, .5);
  }
}

.divider {
  width: 50vw;
  height: 0;
  border-bottom: 2px solid $text;
  margin: 1rem;
}