// $light-orange: #faefe1;
// $light-blue: #bdc8f6;
// $accent-orange: #f9ddae;
// $accent-orange2: #c5c0b9;
// $accent-pink: #c8417f;
// $dark-blue: #21215c;
// $dark-violet: #050111;

$light: #fff7e7;
$dark: #0f0a01;
$accent: #100b5b;

// $light: #d9d7fb;
// $dark: #020110;
// $accent-light: #fdedce;
// $accent: #100b5b;


$short-animation-duration: 120ms;
$standard-easing: cubic-bezier(0.4, 0.0, 0.2, 1);