@import './Constants.scss';

.email {
  border: 1px solid $light;
  box-sizing: border-box;
  width: 80vw;
  padding: 1rem;
  margin: 2rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }
}