.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 80vw;
  height: 32rem;
  margin-bottom: 2rem;

  background-image: url(jazbel.jpeg);
  background-size: cover;
  background-position: 0 25%;
}