.navBar {
  box-sizing: border-box;
  height: fit-content;
  padding: 0 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
  }

  .navStart {
    .iconButton {
      display: none;
    }
  }
}

.navButton {
  background-color: transparent;
}